<!DOCTYPE html>
<html>

<head>
    {% include head.html %} {% if site.dropcap %}
    <style type="text/css">
        @media only screen and (min-width:43.75em) {
            .notepad-post-content div>p:first-child:first-letter {
                float: left;
                font-size: 4.688rem;
                line-height: 4.375rem;
                padding-top: .25rem;
                padding-right: .5rem;
                padding-left: .188rem;
                font-family: serif
            }
        }
    </style>{% endif %}
</head>

<body class="post-template" itemscope itemtype="http://schema.org/WebPage">
    <main id="notepad-post-container" class="notepad-post-container intro-effect-sliced" role="main">
      <header class="notepad-post-header portfolio">
        <div class="bg-img"></div>
          <div class="notepad-post-menu-header">
        <a class="notepad-blog-logo" href="/">
          <img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" />
        </a>

        <div class="notepad-blog-menu">
          <div class="notepad-mobile-menu show-for-small">
            <a href="#"><i class="fa fa-bars"></i></a>
          </div>
          <ul class="notepad-menu">
            <li class="notepad-mobile-close-btn show-for-small text-right">
              <a href="#"><i class="fa fa-times"></i></a>
            </li>
            {% for link in site.links %}
            <li>
              {% if link.external %}
                <a href="{{ link.url }}">{{ link.title }}</a>
              {% else %}
                <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a> {% endif %} </li>
              {% endfor %}
              <li>
                <a href="{{ site.url }}/feed.xml" title="Atom/RSS feed">
                  <i class="icon-rss"></i> Feed
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="notepad-post-title bg-check">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="bg-img"></div>
      </header>
      <button class="trigger bg-check" data-info="Read more"><span>Trigger</span></button>
      <img src="{{ site.url }}/images/{{ page.imagefeature }}" alt="cover-image" style="width:100%;height:auto;"/>
      <article class="notepad-post-content post">
      <div>
        {{ content }}
      </div>
    </article>
      {% include footer.html %}
    </main>
    {% include scripts.html %}
</body>

</html>
